@import '../variables.scss';

.general {

    @media (max-width: $mobile) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .general__button-change {
        text-transform: uppercase;
        margin-top: 20px;
        border: none;
        background-color: $btn-color;
        color: white;
        cursor: pointer;
        padding: 20px;
        border-radius: $radius;
        font-size: 1rem;

        &:hover {
            background-color: $grey;
        }
    }

    .general__pagination {
        display: block;
        margin: 30px 0;

        @media (max-width: $tablets) {
            max-width: 100%;
        }

        @media (max-width: $mobile) {
            max-width: 110%;
            margin: 20px 0 0 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .page {
            float: left;
            color: #232020;
            padding: 8px 16px;
            text-decoration: none;
            margin-right: 5px;
            cursor: pointer;

            @media (max-width: $tablets) {
                padding: 7px 11px;
            }
    
            @media (max-width: $mobile) {
                padding: 3px 5px;
            }

            &:last-child {
                margin-right: 0;
            }

            &.active {
                background-color: $grey;
                color: white;
                border-radius: $radius;
            }

            &:hover:not(.active) {
                background-color: rgba(88, 88, 88, 0.3);
                border-radius: $radius;
            }
        }
    }

    .general__button-to-top {
        display: none;
        text-decoration: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 1;
        border: none;
        outline: none;
        background-color: $btn-color;
        color: white;
        cursor: pointer;
        padding: 20px;
        border-radius: 50%;
        font-size: 1.3rem;
        
        &:hover {
            background-color: $grey;
        }
    }

    .general__container {
        display: grid;
        margin-top: 130px;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 110px 3%;

        @media (max-width: $large-screens) {
            grid-gap: 90px 3%;
        }

        @media (max-width: $small-screens) {
            grid-gap: 60px 3%;
        }

        @media (max-width: $tablets) {
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            grid-gap: 100px 3%;
        }

        @media (max-width: $mobile) {
            grid-template-rows: 1fr;
            grid-template-columns: 1fr;
            grid-gap: 80px 3%;
            margin-top: 30px;
        }

        .general__item {
            max-width: 100%;
            height: 110%;
            background-color: #fefefe;
            border-radius: $radius;
            box-shadow: 0 5px 3px $box-shadow;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 10px;

            @media (max-width: $large-screens) {
                height: 100%;
            }
        }
    }
}