@import '../variables';

.header {
    .header__title {
        text-align: center;
        font-size: 2rem;

        @media (max-width: $tablets) {
            font-size: 1.8rem;
        }

        @media (max-width: $mobile) {
            font-size: 1.6rem;
        }
    }
    
    .header__text {
        font-size: 1.3rem;

        @media (max-width: $large-screens) {
            font-size: 1.1rem;
        }

        .header__text-link {
            color: $grey;
            cursor: pointer;
        }
    }
}