@import './variables';

.button-to-top {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 1;
    border: none;
    outline: none;
    background-color: rgba(88, 88, 88, 0.6);
    color: white;
    cursor: pointer;
    padding: 20px;
    border-radius: 50%;
    font-size: 1.3rem;
    
    &:hover {
        background-color: $grey;
    }
}